---
layout: "default"
title: "Jade Example"
---

p
  | This example of <%= appname %> makes use of the <a href="http://docpad.org/plugin/jade">Jade DocPad Plugin</a>.

ul
  li
    a(href="index.html") Home
